

.bgALICEBLUE{background-color:ALICEBLUE;}
.bgANTIQUEWHITE{background-color:ANTIQUEWHITE;}
.bgAQUA{background-color:AQUA;}
.bgAQUAMARINE{background-color:AQUAMARINE;}
.bgAZURE{background-color:AZURE;}
.bgBEIGE{background-color:BEIGE;}
.bgBISQUE{background-color:BISQUE;}
.bgBLACK{background-color:BLACK;}
.bgBLANCHEDALMOND{background-color:BLANCHEDALMOND;}
.bgBLUE{background-color:BLUE;}
.bgBLUEVIOLET{background-color:BLUEVIOLET;}
.bgBROWN{background-color:BROWN;}
.bgBURLYWOOD{background-color:BURLYWOOD;}
.bgCADETBLUE{background-color:CADETBLUE;}
.bgCHARTREUSE{background-color:CHARTREUSE;}
.bgCHOCOLATE{background-color:CHOCOLATE;}
.bgCORAL{background-color:CORAL;}
.bgCORNFLOWERBLUE{background-color:CORNFLOWERBLUE;}
.bgCORNSILK{background-color:CORNSILK;}
.bgCRIMSON{background-color:CRIMSON;}
.bgCYAN{background-color:CYAN;}
.bgDARKBLUE{background-color:DARKBLUE;}
.bgDARKCYAN{background-color:DARKCYAN;}
.bgDARKGOLDENROD{background-color:DARKGOLDENROD;}
.bgDARKGRAY{background-color:DARKGRAY;}
.bgDARKGREEN{background-color:DARKGREEN;}
.bgDARKKHAKI{background-color:DARKKHAKI;}
.bgDARKMAGENTA{background-color:DARKMAGENTA;}
.bgDARKOLIVEGREEN{background-color:DARKOLIVEGREEN;}
.bgDARKORANGE{background-color:DARKORANGE;}
.bgDARKORCHID{background-color:DARKORCHID;}
.bgDARKRED{background-color:DARKRED;}
.bgDARKSALMON{background-color:DARKSALMON;}
.bgDARKSEAGREEN{background-color:DARKSEAGREEN;}
.bgDARKSLATEBLUE{background-color:DARKSLATEBLUE;}
.bgDARKSLATEGRAY{background-color:DARKSLATEGRAY;}
.bgDARKTURQUOISE{background-color:DARKTURQUOISE;}
.bgDARKVIOLET{background-color:DARKVIOLET;}
.bgDEEPPINK{background-color:DEEPPINK;}
.bgDEEPSKYBLUE{background-color:DEEPSKYBLUE;}
.bgDIMGRAY{background-color:DIMGRAY;}
.bgDODGERBLUE{background-color:DODGERBLUE;}
.bgFIREBRICK{background-color:FIREBRICK;}
.bgFLORALWHITE{background-color:FLORALWHITE;}
.bgFORESTGREEN{background-color:FORESTGREEN;}
.bgFUCHSIA{background-color:FUCHSIA;}
.bgGAINSBORO{background-color:GAINSBORO;}
.bgGHOSTWHITE{background-color:GHOSTWHITE;}
.bgGOLD{background-color:GOLD;}
.bgGOLDENROD{background-color:GOLDENROD;}
.bgGRAY{background-color:GRAY;}
.bgGREEN{background-color:GREEN;}
.bgGREENYELLOW{background-color:GREENYELLOW;}
.bgHONEYDEW{background-color:HONEYDEW;}
.bgHOTPINK{background-color:HOTPINK;}
.bgINDIANRED{background-color:INDIANRED;}
.bgINDIGO{background-color:INDIGO;}
.bgIVORY{background-color:IVORY;}
.bgKHAKI{background-color:KHAKI;}
.bgLAVENDER{background-color:LAVENDER;}
.bgLAVENDERBLUSH{background-color:LAVENDERBLUSH;}
.bgLAWNGREEN{background-color:LAWNGREEN;}
.bgLEMONCHIFFON{background-color:LEMONCHIFFON;}
.bgLIGHTBLUE{background-color:LIGHTBLUE;}
.bgLIGHTCORAL{background-color:LIGHTCORAL;}
.bgLIGHTCYAN{background-color:LIGHTCYAN;}
.bgLIGHTGOLDENRODYELLOW{background-color:LIGHTGOLDENRODYELLOW;}
.bgLIGHTGREEN{background-color:LIGHTGREEN;}
.bgLIGHTGREY{background-color:LIGHTGREY;}
.bgLIGHTPINK{background-color:LIGHTPINK;}
.bgLIGHTSALMON{background-color:LIGHTSALMON;}
.bgLIGHTSEAGREEN{background-color:LIGHTSEAGREEN;}
.bgLIGHTSKYBLUE{background-color:LIGHTSKYBLUE;}
.bgLIGHTSLATEGRAY{background-color:LIGHTSLATEGRAY;}
.bgLIGHTSTEELBLUE{background-color:LIGHTSTEELBLUE;}
.bgLIGHTYELLOW{background-color:LIGHTYELLOW;}
.bgLIME{background-color:LIME;}
.bgLIMEGREEN{background-color:LIMEGREEN;}
.bgLINEN{background-color:LINEN;}
.bgMAGENTA{background-color:MAGENTA;}
.bgMAROON{background-color:MAROON;}
.bgMEDIUMAQUAMARINE{background-color:MEDIUMAQUAMARINE;}
.bgMEDIUMBLUE{background-color:MEDIUMBLUE;}
.bgMEDIUMORCHID{background-color:MEDIUMORCHID;}
.bgMEDIUMPURPLE{background-color:MEDIUMPURPLE;}
.bgMEDIUMSEAGREEN{background-color:MEDIUMSEAGREEN;}
.bgMEDIUMSLATEBLUE{background-color:MEDIUMSLATEBLUE;}
.bgMEDIUMSPRINGGREEN{background-color:MEDIUMSPRINGGREEN;}
.bgMEDIUMTURQUOISE{background-color:MEDIUMTURQUOISE;}
.bgMEDIUMVIOLETRED{background-color:MEDIUMVIOLETRED;}
.bgMIDNIGHTBLUE{background-color:MIDNIGHTBLUE;}
.bgMINTCREAM{background-color:MINTCREAM;}
.bgMISTYROSE{background-color:MISTYROSE;}
.bgMOCCASIN{background-color:MOCCASIN;}
.bgNAVAJOWHITE{background-color:NAVAJOWHITE;}
.bgNAVY{background-color:NAVY;}
.bgOLDLACE{background-color:OLDLACE;}
.bgOLIVE{background-color:OLIVE;}
.bgOLIVEDRAB{background-color:OLIVEDRAB;}
.bgORANGE{background-color:ORANGE;}
.bgORANGERED{background-color:ORANGERED;}
.bgORCHID{background-color:ORCHID;}
.bgPALEGOLDENROD{background-color:PALEGOLDENROD;}
.bgPALEGREEN{background-color:PALEGREEN;}
.bgPALETURQUOISE{background-color:PALETURQUOISE;}
.bgPALEVIOLETRED{background-color:PALEVIOLETRED;}
.bgPAPAYAWHIP{background-color:PAPAYAWHIP;}
.bgPEACHPUFF{background-color:PEACHPUFF;}
.bgPERU{background-color:PERU;}
.bgPINK{background-color:PINK;}
.bgPLUM{background-color:PLUM;}
.bgPOWDERBLUE{background-color:POWDERBLUE;}
.bgPURPLE{background-color:PURPLE;}
.bgRED{background-color:RED;}
.bgROSYBROWN{background-color:ROSYBROWN;}
.bgROYALBLUE{background-color:ROYALBLUE;}
.bgSADDLEBROWN{background-color:SADDLEBROWN;}
.bgSALMON{background-color:SALMON;}
.bgSANDYBROWN{background-color:SANDYBROWN;}
.bgSEAGREEN{background-color:SEAGREEN;}
.bgSEASHELL{background-color:SEASHELL;}
.bgSIENNA{background-color:SIENNA;}
.bgSILVER{background-color:SILVER;}
.bgSKYBLUE{background-color:SKYBLUE;}
.bgSLATEBLUE{background-color:SLATEBLUE;}
.bgSLATEGRAY{background-color:SLATEGRAY;}
.bgSNOW{background-color:SNOW;}
.bgSPRINGGREEN{background-color:SPRINGGREEN;}
.bgSTEELBLUE{background-color:STEELBLUE;}
.bgTAN{background-color:TAN;}
.bgTEAL{background-color:TEAL;}
.bgTHISTLE{background-color:THISTLE;}
.bgTOMATO{background-color:TOMATO;}
.bgTURQUOISE{background-color:TURQUOISE;}
.bgVIOLET{background-color:VIOLET;}
.bgWHEAT{background-color:WHEAT;}
.bgWHITE{background-color:WHITE;}
.bgWHITESMOKE{background-color:WHITESMOKE;}
.bgYELLOW{background-color:YELLOW;}
.bgYELLOWGREEN{background-color:YELLOWGREEN;}
.bgAQUA{background-color:AQUA;}
.bgBLACK{background-color:BLACK;}
.bgBLUE{background-color:BLUE;}
.bgFUCHSIA{background-color:FUCHSIA;}
.bgGRAY{background-color:GRAY;}
.bgGREEN{background-color:GREEN;}
.bgLIME{background-color:LIME;}
.bgMAROON{background-color:MAROON;}
.bgNAVY{background-color:NAVY;}
.bgOLIVE{background-color:OLIVE;}
.bgPURPLE{background-color:PURPLE;}
.bgRED{background-color:RED;}
.bgSILVER{background-color:SILVER;}
.bgTEAL{background-color:TEAL;}
.bgWHITE{background-color:WHITE;}
.bgYELLOW{background-color:YELLOW;}


.fgALICEBLUE{color:ALICEBLUE;}
.fgANTIQUEWHITE{color:ANTIQUEWHITE;}
.fgAQUA{color:AQUA;}
.fgAQUAMARINE{color:AQUAMARINE;}
.fgAZURE{color:AZURE;}
.fgBEIGE{color:BEIGE;}
.fgBISQUE{color:BISQUE;}
.fgBLACK{color:BLACK;}
.fgBLANCHEDALMOND{color:BLANCHEDALMOND;}
.fgBLUE{color:BLUE;}
.fgBLUEVIOLET{color:BLUEVIOLET;}
.fgBROWN{color:BROWN;}
.fgBURLYWOOD{color:BURLYWOOD;}
.fgCADETBLUE{color:CADETBLUE;}
.fgCHARTREUSE{color:CHARTREUSE;}
.fgCHOCOLATE{color:CHOCOLATE;}
.fgCORAL{color:CORAL;}
.fgCORNFLOWERBLUE{color:CORNFLOWERBLUE;}
.fgCORNSILK{color:CORNSILK;}
.fgCRIMSON{color:CRIMSON;}
.fgCYAN{color:CYAN;}
.fgDARKBLUE{color:DARKBLUE;}
.fgDARKCYAN{color:DARKCYAN;}
.fgDARKGOLDENROD{color:DARKGOLDENROD;}
.fgDARKGRAY{color:DARKGRAY;}
.fgDARKGREEN{color:DARKGREEN;}
.fgDARKKHAKI{color:DARKKHAKI;}
.fgDARKMAGENTA{color:DARKMAGENTA;}
.fgDARKOLIVEGREEN{color:DARKOLIVEGREEN;}
.fgDARKORANGE{color:DARKORANGE;}
.fgDARKORCHID{color:DARKORCHID;}
.fgDARKRED{color:DARKRED;}
.fgDARKSALMON{color:DARKSALMON;}
.fgDARKSEAGREEN{color:DARKSEAGREEN;}
.fgDARKSLATEBLUE{color:DARKSLATEBLUE;}
.fgDARKSLATEGRAY{color:DARKSLATEGRAY;}
.fgDARKTURQUOISE{color:DARKTURQUOISE;}
.fgDARKVIOLET{color:DARKVIOLET;}
.fgDEEPPINK{color:DEEPPINK;}
.fgDEEPSKYBLUE{color:DEEPSKYBLUE;}
.fgDIMGRAY{color:DIMGRAY;}
.fgDODGERBLUE{color:DODGERBLUE;}
.fgFIREBRICK{color:FIREBRICK;}
.fgFLORALWHITE{color:FLORALWHITE;}
.fgFORESTGREEN{color:FORESTGREEN;}
.fgFUCHSIA{color:FUCHSIA;}
.fgGAINSBORO{color:GAINSBORO;}
.fgGHOSTWHITE{color:GHOSTWHITE;}
.fgGOLD{color:GOLD;}
.fgGOLDENROD{color:GOLDENROD;}
.fgGRAY{color:GRAY;}
.fgGREEN{color:GREEN;}
.fgGREENYELLOW{color:GREENYELLOW;}
.fgHONEYDEW{color:HONEYDEW;}
.fgHOTPINK{color:HOTPINK;}
.fgINDIANRED{color:INDIANRED;}
.fgINDIGO{color:INDIGO;}
.fgIVORY{color:IVORY;}
.fgKHAKI{color:KHAKI;}
.fgLAVENDER{color:LAVENDER;}
.fgLAVENDERBLUSH{color:LAVENDERBLUSH;}
.fgLAWNGREEN{color:LAWNGREEN;}
.fgLEMONCHIFFON{color:LEMONCHIFFON;}
.fgLIGHTBLUE{color:LIGHTBLUE;}
.fgLIGHTCORAL{color:LIGHTCORAL;}
.fgLIGHTCYAN{color:LIGHTCYAN;}
.fgLIGHTGOLDENRODYELLOW{color:LIGHTGOLDENRODYELLOW;}
.fgLIGHTGREEN{color:LIGHTGREEN;}
.fgLIGHTGREY{color:LIGHTGREY;}
.fgLIGHTPINK{color:LIGHTPINK;}
.fgLIGHTSALMON{color:LIGHTSALMON;}
.fgLIGHTSEAGREEN{color:LIGHTSEAGREEN;}
.fgLIGHTSKYBLUE{color:LIGHTSKYBLUE;}
.fgLIGHTSLATEGRAY{color:LIGHTSLATEGRAY;}
.fgLIGHTSTEELBLUE{color:LIGHTSTEELBLUE;}
.fgLIGHTYELLOW{color:LIGHTYELLOW;}
.fgLIME{color:LIME;}
.fgLIMEGREEN{color:LIMEGREEN;}
.fgLINEN{color:LINEN;}
.fgMAGENTA{color:MAGENTA;}
.fgMAROON{color:MAROON;}
.fgMEDIUMAQUAMARINE{color:MEDIUMAQUAMARINE;}
.fgMEDIUMBLUE{color:MEDIUMBLUE;}
.fgMEDIUMORCHID{color:MEDIUMORCHID;}
.fgMEDIUMPURPLE{color:MEDIUMPURPLE;}
.fgMEDIUMSEAGREEN{color:MEDIUMSEAGREEN;}
.fgMEDIUMSLATEBLUE{color:MEDIUMSLATEBLUE;}
.fgMEDIUMSPRINGGREEN{color:MEDIUMSPRINGGREEN;}
.fgMEDIUMTURQUOISE{color:MEDIUMTURQUOISE;}
.fgMEDIUMVIOLETRED{color:MEDIUMVIOLETRED;}
.fgMIDNIGHTBLUE{color:MIDNIGHTBLUE;}
.fgMINTCREAM{color:MINTCREAM;}
.fgMISTYROSE{color:MISTYROSE;}
.fgMOCCASIN{color:MOCCASIN;}
.fgNAVAJOWHITE{color:NAVAJOWHITE;}
.fgNAVY{color:NAVY;}
.fgOLDLACE{color:OLDLACE;}
.fgOLIVE{color:OLIVE;}
.fgOLIVEDRAB{color:OLIVEDRAB;}
.fgORANGE{color:ORANGE;}
.fgORANGERED{color:ORANGERED;}
.fgORCHID{color:ORCHID;}
.fgPALEGOLDENROD{color:PALEGOLDENROD;}
.fgPALEGREEN{color:PALEGREEN;}
.fgPALETURQUOISE{color:PALETURQUOISE;}
.fgPALEVIOLETRED{color:PALEVIOLETRED;}
.fgPAPAYAWHIP{color:PAPAYAWHIP;}
.fgPEACHPUFF{color:PEACHPUFF;}
.fgPERU{color:PERU;}
.fgPINK{color:PINK;}
.fgPLUM{color:PLUM;}
.fgPOWDERBLUE{color:POWDERBLUE;}
.fgPURPLE{color:PURPLE;}
.fgRED{color:RED;}
.fgROSYBROWN{color:ROSYBROWN;}
.fgROYALBLUE{color:ROYALBLUE;}
.fgSADDLEBROWN{color:SADDLEBROWN;}
.fgSALMON{color:SALMON;}
.fgSANDYBROWN{color:SANDYBROWN;}
.fgSEAGREEN{color:SEAGREEN;}
.fgSEASHELL{color:SEASHELL;}
.fgSIENNA{color:SIENNA;}
.fgSILVER{color:SILVER;}
.fgSKYBLUE{color:SKYBLUE;}
.fgSLATEBLUE{color:SLATEBLUE;}
.fgSLATEGRAY{color:SLATEGRAY;}
.fgSNOW{color:SNOW;}
.fgSPRINGGREEN{color:SPRINGGREEN;}
.fgSTEELBLUE{color:STEELBLUE;}
.fgTAN{color:TAN;}
.fgTEAL{color:TEAL;}
.fgTHISTLE{color:THISTLE;}
.fgTOMATO{color:TOMATO;}
.fgTURQUOISE{color:TURQUOISE;}
.fgVIOLET{color:VIOLET;}
.fgWHEAT{color:WHEAT;}
.fgWHITE{color:WHITE;}
.fgWHITESMOKE{color:WHITESMOKE;}
.fgYELLOW{color:YELLOW;}
.fgYELLOWGREEN{color:YELLOWGREEN;}
.fgAQUA{color:AQUA;}
.fgBLACK{color:BLACK;}
.fgBLUE{color:BLUE;}
.fgFUCHSIA{color:FUCHSIA;}
.fgGRAY{color:GRAY;}
.fgGREEN{color:GREEN;}
.fgLIME{color:LIME;}
.fgMAROON{color:MAROON;}
.fgNAVY{color:NAVY;}
.fgOLIVE{color:OLIVE;}
.fgPURPLE{color:PURPLE;}
.fgRED{color:RED;}
.fgSILVER{color:SILVER;}
.fgTEAL{color:TEAL;}
.fgWHITE{color:WHITE;}
.fgYELLOW{color:YELLOW;}
