
{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){

    $('select').formSelect();

  });
</script>

<nav>
    <div class="nav-wrapper row bgMAROON" id="nav">
      <div class="col s10 nav">
        <a href="/switchboard.html" class="breadcrumb">
            <i class="material-icons left">home</i>Main</a>
        <a href="#!" class="breadcrumb">
            Update User
        </a>
      </div>
        <div class="col s2 nav">
            <a href="/logout.html" class="btn-large waves-effect waves-light bgCRIMSON">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
<br />
   
    
{%if error %} <div class="textcontain row error"><div class="error col s12">
    <p>Incorrect Password, Username, or your account is not active. <br>
    {{'If you recently signed up, <br> you need to activate your account.' if errortype == "activation" }}
    {{"If you forgot your password, click the button below to recover it." if errortype == "password"}}
    {{"Remember to use your email address as your username to log in." if errortype == "username"}}</p>
</div></div> {% endif %}

{%if confirm %} <div class="textcontain row confirm"><div class="confirm col s12">
    <p>New User updated.</p>
</div></div> {% endif %}

    <form  name="userdataupdateform" id="userdataupdateformform" action="{{ url_for('adminupdateuser') }}" method="post">
        {{ userdataupdateform.hidden_tag() }}
        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.username.label}}{{ userdataupdateform.username(class="active") }}
            </div>
            <div class="input-field col s4">
              {{userdataupdateform.usertype.label}}{{ userdataupdateform.usertype }}
            </div>
            <div class="input-field col s2">
                <label>{{ userdataupdateform.active }}<span>{{userdataupdateform.active.label}}</span></label>
            </div>
        </div>

        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.newpassword.label}}{{ userdataupdateform.newpassword}}
            </div>
            <div class="input-field col s6">
              {{userdataupdateform.repeatpassword.label}}{{ userdataupdateform.repeatpassword}}
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="cursor: pointer;" id="logindiv">
              {{ userdataupdateform.submit(id="loginbutton", class="btn-large waves-effect waves-light bgMAROON longbutton") }}
            </div>
        </div>
    </form>


</div>
{% endblock %}
