
{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){

    // Every From needs this:
    $('select').formSelect();
     document.getElementById("logindiv").addEventListener("click", function () {
            document.getElementById("submitbutton").click()
        });


  });
</script>

{{ navbar | safe }}

<div class="container">
<br />
   
    
{%if error %} <div class="textcontain row error"><div class="error col s12">
    <p>Errors prevent updating this user.</p>
</div></div> {% endif %}

{%if confirm %} <div class="textcontain row confirm"><div class="confirm col s12">
    <p>User Updated.</p>
</div></div> {% endif %}

    <form  name="userdataupdateform" id="userdataupdateformform" action="{{ url_for('adminupdateuser') }}" method="post">
        {{ userdataupdateform.hidden_tag() }}

        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.username.label}}{{ userdataupdateform.username(class="active") }}
                {%if userdataupdateform.username.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.username.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s4">
              {{ userdataupdateform.usertype(class="active") }}{{userdataupdateform.usertype.label}}
                {%if userdataupdateform.usertype.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.usertype.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s2">
                <label>{{ userdataupdateform.active }}<span>{{userdataupdateform.active.label}}</span></label>
            </div>
        </div>

        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.newpassword.label}}{{ userdataupdateform.newpassword}}
                {%if userdataupdateform.newpassword.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.newpassword.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s6">
              {{userdataupdateform.repeatpassword.label}}{{ userdataupdateform.repeatpassword}}
                {%if userdataupdateform.repeatpassword.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.repeatpassword.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="cursor: pointer;" id="logindiv">
              {{ userdataupdateform.submit(id="submitbutton", class="btn-large bgMAROON fgSNOW") }}
            </div>
        </div>
    </form>


</div>
{% endblock %}
