
{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){

    $("table").tablesorter({headers:{'.nosort':{sorter:false}}});

  });
</script>

<nav>
    <div class="nav-wrapper row bgMAROON" id="nav">
      <div class="col s10 nav">
        <a href="/switchboard.html" class="breadcrumb">
            <i class="material-icons left">home</i>Main</a>
        <a href="#!" class="breadcrumb">
            Edit Users
        </a>
      </div>
        <div class="col s2 nav">
            <a href="/logout.html" class="btn-large bgMAROON fgSNOW">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
<br />
    <div class="row">
        <div class="col s12">
            <a href="/adminupdateuser.html" class="btn-large longbutton bgMAROON fgSNOW">Create User</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="sortable"><thead><tr>
                <th>id</th>
                <th class="nosort">uuid</th>
                <th>username</th>
                <th>usertype</th>
                <th>active</th>
                <th>authenticated</th>
                <th class="nosort"></th>
                </tr></thead><tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.uuid}}</td>
                        <td>{{user.username}}</td>
                        <td>{{usertypedict[user.usertype | string]}}</td>
                        <td>{{"Active" if user.active == 1 else "Inactive"}}</td>
                        <td>{{"Yes" if user.authenticated == 1 else "No"}}</td>
                        <td>
                            <a href="/adminupdateuser.html?uuid={{user.uuid}}" class="btn-small bgMAROON fgSNOW">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
