
{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){

    // Every From needs this:
    $('select').formSelect();
     document.getElementById("logindiv").addEventListener("click", function () {
            document.getElementById("submitbutton").click()
        });

     $('textarea').html('').tinymce({
        setup: function(ed){ ed.on("change", function(){
                 textchange = true;
                        document.getElementById('submitbutton').disabled = false;
         })
         },
        init_instance_callback:"setcontents",
            menubar: true,
        plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
        ], image_upload_url: '/upload.html',
         browser_spellcheck: true,
        font_formats:"Andale Mono=andale mono,times; " +
            "Arial=arial,helvetica,sans-serif; " +
            "Arial Black=arial black,avant garde; " +
            "Book Antiqua=book antiqua,palatino; " +
            "Courier New=courier new,courier; " +
            "Georgia=georgia,palatino; " +
            "Helvetica=helvetica; " +
            "Karla=karla;" +
            "Licorice=licorice; Lobster=lobster; " +
            "Merriweather=merriweather; Monoton=monoton;" +
            "Permanent Marker=permanent marker;" +
            "Terminal=terminal,monaco; " +
            "Times New Roman=times new roman,times;" +
            "Ubuntu=ubuntu; Ubuntu Mono=ubuntu mono;",
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        images_upload_url:'/tinymceupload.html',
        automatic_uploads:true,
        images_reuse_filename: false,
        images_upload_base_path:'/static/uploads',
         content_style:"@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap'); " +
             "@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');" +
             "@import url('https://fonts.googleapis.com/css2?family=Monoton');" +
             "@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');" +
             "@import url('https://fonts.googleapis.com/css2?family=Karla');" +
             "@import url('https://fonts.googleapis.com/css2?family=Roboto');" +
             "@import url('https://fonts.googleapis.com/css2?family=Merriweather');" +
             "@import url('https://fonts.googleapis.com/css2?family=Ubuntu');" +
             "@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');"
    });
    //TODO: On the server, parse the fonts used and insert a link like:
    // <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    // This can be in a body or head of the html.

  });

{% if userdataupdateform.notes.data %}
        function setcontents(inst){
            inst.setContent(`{{ userdataupdateform.notes.data | safe }}`);
            document.getElementById('submitbutton').disabled = false;
        }
        {% else %}
        function setcontents(inst){ inst.setContent(''); }
    {% endif %}

</script>

{{ navbar | safe }}

<div class="container">
<br />
   
    
{%if error %} <div class="textcontain row error"><div class="error col s12">
    <p>Errors prevent updating this user.</p>
</div></div> {% endif %}

{%if confirm %}
{{ confirm | safe }}
{% endif %}

    <form  name="userdataupdateform" id="userdataupdateformform" action="{{ url_for('adminupdateuser') }}" method="post">
        {{ userdataupdateform.hidden_tag() }}

        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.username.label}}{{ userdataupdateform.username(class="active") }}
                {%if userdataupdateform.username.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.username.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s4">
              {{ userdataupdateform.usertype(class="active") }}{{userdataupdateform.usertype.label}}
                {%if userdataupdateform.usertype.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.usertype.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s2">
                <label>{{ userdataupdateform.active }}<span>{{userdataupdateform.active.label}}</span></label>
            </div>
        </div>

        <div class="textcontain row">
            <div class="input-field col s6">
              {{userdataupdateform.newpassword.label}}{{ userdataupdateform.newpassword}}
                {%if userdataupdateform.newpassword.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.newpassword.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            <div class="input-field col s6">
              {{userdataupdateform.repeatpassword.label}}{{ userdataupdateform.repeatpassword}}
                {%if userdataupdateform.repeatpassword.errors%}
                <ul class="error">
                    {%for error in userdataupdateform.repeatpassword.errors%}
                    <li><i class="small material-icons">error</i>{{error}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
        </div>

        <div class="textcontain row">
            <div class="input-field col s12">
                {{ userdataupdateform.notes.label }}{{ userdataupdateform.notes }}
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="cursor: pointer;" id="logindiv">
              {{ userdataupdateform.submit(id="submitbutton", class="btn-large longbutton bgMAROON fgSNOW") }}
            </div>
        </div>
    </form>


</div>
{% endblock %}
