
{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function(){

  });
</script>

<nav>
    <div class="nav-wrapper row bgMAROON" id="nav">
      <div class="col s10 nav">
        <a href="/index.html" class="breadcrumb">
            <i class="material-icons left">home</i>Main</a>
        <a href="#!" class="breadcrumb">
            Switchboard
        </a>
      </div>
        <div class="col s2 nav">
            <a href="/logout.html" class="btn-large waves-effect waves-light bgCRIMSON">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
<br />
    {% if current_user.is_admin() %}
        <a href="/admingetusers.html" class="btn-large waves-effect waves-light bgMAROON longbutton">Edit Users</a> <br />
    {% endif %}
    <a href="/first.html" class="btn-large waves-effect waves-light bgMAROON longbutton">first</a>

</div>
{% endblock %}
